  <html>
        <head>
            <title>Cherry Pick!</title>
        </head>
        <body>
        <div class="img_grid">
            <p>Grid Please!</p>
            <p>It works!</p>
            <table>

            </table>
        </div>
        <div>
            <ul>
                <li class="btn">
                    <a href="http://www.kakaocorp.com">upload</a>
                    <a href="http://www.daum.net">refresh</a>
                </li>
            </ul>

        </div>

        </body>
    </html>